.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 16rem 1fr;
    gap: 2rem;
    align-items: flex-start;

    main {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width: 48rem) {

    html {
        font-size: var(--font-size-small); 
    }

    .wrapper {
        grid-template-columns: 1fr;
    }
}